{% extends "base.html" %}

{% block head %} 
<style>
    html body{
        background-image: url("../static/img/muc_alps.jpg");
        background-size: cover; 
        background-repeat: no-repeat;
        background-attachment: fixed; 
        background-position: 75% center;
    }   
    .card-img-top {
    width: 100%;
    height: 13vw;
    object-fit: cover;
    }
</style>
{% endblock %}

{% block body %} 
<!-- Intro -->
<section id="intro">
    <div class="container"> <!--  -->
        <div class="row align-items-center" style="height:85vh">
            <div class="col">
                <p class="display-2 my-3 fw-bold text-white text-center" style="text-shadow:3px 3px 5px gray">I'm Stefan Diener</p>
                <p class="display-6 my-3 text-white text-center"  style="text-shadow:1px 1px 5px black">Welcome to my website!</p>
            </div>
        </div>
    </div>
</section>


<!-- Navbar -->
<nav class="navbar sticky-top navbar-expand-md navbar-light bg-white shadow">
    <div class="container-xxl">
        <a href="#intro" class="navbar-brand">
            <span class="fw-bold text-secondary">
                SD
            </span>
        </a>
        <!-- toggle button for mobile nav -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
            </ul>
        </div>
    </div>
</nav>

<!-- About -->
<section id="about" class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center">
            <h1 class="text-center text-uppercase pb-3">About</h1>
            <p class="text-centered pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea necessitatibus officia minima impedit magnam earum, quia debitis molestias voluptatibus et eligendi ex dolor placeat pariatur aliquid dolore ipsa magni! Nobis quasi rerum expedita velit, dignissimos et. Itaque quam assumenda odio voluptates! Accusamus molestias ab commodi reprehenderit deserunt quisquam. Error, amet?</p>
            <div class="col-lg-4">
                <div class="profileimg" style="width: 250px; height: 250px; overflow: hidden; border-radius: 50%; 
                background-image: url(/static/img/profile.jpg); background-size: cover; background-position: 35% 100%; margin-left: 85px;">
                </div>
            </div>
            <div class="col-lg-4">
                <ul class="list-group-flush">
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum dolor.</li>
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum.</li>
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum.</li>
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum.</li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-group-flush" styles="list-group-bg:light">
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum dolor.</li>
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum.</li>
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum.</li>
                    <li class="list-group-item border-0 bg-light"><strong>Lorem:</strong>  ipsum.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Projects -->
<section id="projects" class="bg-white py-5">
    <div class="container">
        <h1 class="text-center text-uppercase pb-3">Projects</h1>
        <div class="row my-5 align-items-top justify-content-center">
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Placeholder Project 1</h5>
                        <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Project Site</a>
                        <a href="#!" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://mdbootstrap.com/img/new/standard/nature/181.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Placeholder Project 2</h5>
                        <p class="card-text">
                        Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Project Site</a>
                        <a href="#!" class="btn btn-primary">Github</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



<!-- Contact -->
<section id="contact" class="bg-light py-5">
    <div class="container">
        <h1 class="text-center text-uppercase pb-3"> Contact </h1>
        <p class="lead text-center"> Got any Questions? Contact me directly! </p>
        <div class="row justify-content-center ">
            <form class="col-lg-5">
                <div class="col mb-3">
                    <input type="text" class="form-control" placeholder="Your Email" aria-label="Your Email">
                </div>
                <div class="col mb-4">
                    <input type="text" class="form-control" placeholder="Subject" aria-label="Subject">
                </div>
                <div class="col mb-3">
                    <textarea class="form-control" placeholder="Your message ..." aria-label="Message" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<!-- End -->
<section id="end" class="bg-white  py-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-3" align="center">
                <p class=""> Around the web</p>
                <a href="https://www.linkedin.com/in/stefan-diener-178311143" target="_blank" style="text-decoration:none; font-size: 1.5rem; color: black;">
                    <i class="bi-linkedin" role="img" aria-label="LinkedIn"></i>
                </a>
                <a href="https://www.instagram.com/stefanddiener/" target="_blank" style="text-decoration:none; font-size: 1.5rem; color: black;">
                    <i class="bi bi-instagram" role="img" aria-label="Instagram"></i>
                </a>
                <a href="https://github.com/sddiener" target="_blank" style="text-decoration:none; font-size: 1.5rem; color: black;">
                    <i class="bi bi-github" role="img" aria-label="GitHub"></i>
                </a>
            </div>
        </div>
    </div>
</section>

    
{% endblock %}
